*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/deploymentTargetDropDown.xml
/.idea/apollo.xml
/.idea/graphql-settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Screenshot*
